<%= form_for(@team, :html => {:class => "edit_team form-horizontal"}) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :team_name, :class => "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :name, :placeholder => "Team Name", :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
      <%= link_to "Cancel", @team, :class => "btn btn-default" %>
      <%= f.submit "Submit", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>
