<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th colspan=18></th>
    </tr>
    <tr>
      <th colspan=5></th>
      <th colspan=5>Passing</th>
      <th colspan=3>Rushing</th>
      <th colspan=3>Receiving</th>
      <th colspan=2>Fantasy Points</th>
    </tr>
    <tr>
      <th></th>
      <th><%= link_to "Rank", :sort => "rank" %></th>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th><%= link_to "Team", :sort => "nfl_team" %></th>
      <th><%= link_to "Pos", :sort => "position" %></th>
      <th><%= link_to "Comps", :sort => "completions" %></th>
      <th><%= link_to "Atts", :sort => "attempts" %></th>
      <th><%= link_to "Yds", :sort => "passing_yards" %></th>
      <th><%= link_to "Tds", :sort => "passing_touchdowns" %></th>
      <th><%= link_to "Ints", :sort => "interceptions" %></th>
      <th><%= link_to "Rushes", :sort => "rushes" %></th>
      <th><%= link_to "Yds", :sort => "rushing_yards" %></th>
      <th><%= link_to "Tds", :sort => "rushing_touchdowns" %></th>
      <th><%= link_to "Recs", :sort => "receptions" %></th>
      <th><%= link_to "Yds", :sort => "receiving_yards" %></th>
      <th><%= link_to "Tds", :sort => "receiving_touchdowns" %></th>
      <th><%= link_to "Total", :sort => "points" %></th>
      <th><%= link_to "PPG", :sort => "points" %></th>
    </tr>
  </thead>

  <tbody>
    <% unless players.nil? || players.empty? %>
      <% players.each do |player| %>
        <tr class="<%= player.table_row_classes %>">
          <td>
          <% if player.selected? %>
            <%= link_to 'Unpick', mark_as_unselected_path(player), :class => "btn btn-danger btn-mini" %>
          <% else %>
            <%= link_to 'Pick', mark_as_selected_path(player), :class => "btn btn-mini" %>
            <% if player.removed? %>
              <%= link_to 'Unpick', mark_as_unremoved_path(player), :class => "btn btn-mini" %>
            <% else %>
              <%= link_to 'Picked', mark_as_removed_path(player), :class => "btn btn-mini" %>
            <% end %>
            <% if player.marked? %>
              <%= link_to 'Unmark', mark_as_unmarked_path(player), :class => "btn btn-mini" %>
            <% else %>
              <%= link_to 'Mark', mark_as_marked_path(player), :class => "btn btn-mini" %>
            <% end %>
          <% end %>
        </td>
          <td><%= player.rank %></td>
          <td><%= player.name %></td>
          <td><%= player.nfl_team %></td>
          <td><%= player.position %></td>
          <td><%= player.completions %></td>
          <td><%= player.attempts %></td>
          <td><%= player.passing_yards %></td>
          <td><%= player.passing_touchdowns %></td>
          <td><%= player.interceptions %></td>
          <td><%= player.rushes %></td>
          <td><%= player.rushing_yards %></td>
          <td><%= player.rushing_touchdowns %></td>
          <td><%= player.receptions %></td>
          <td><%= player.receiving_yards %></td>
          <td><%= player.receiving_touchdowns %></td>
          <td><%= player.calculate_score %></td>
          <td><%= player.calculate_score/15 %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <% if my_team %>
          <td colspan=18>No players have been selected yet</td>
        <% else %>
          <td colspan=18>No players are left to draft</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
