<div class="page-header">
  <h1>My Teams</h1>
  <small><%= link_to 'New Team', new_team_path %></small>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Players Selected</th>
      <th>Projected PPG</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, team %></td>
      <td><%= team.players.selected.count %></td>
      <td><%= team.projected_score/15 %></td>
      <td><%= link_to 'Delete', team, :method => :delete, :data => { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
