<div class="page-header">
  <h1><%= @team.name %></h1>
  <small><%= link_to 'Edit Name', edit_team_path(@team) %></small> |
  <small><%= link_to 'Edit League Settings', edit_team_setting_path(@team.team_setting) %></small>
</div>

<div class="col-md-7 pull-right">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>QB</th>
        <th>RB1</th>
        <th>RB2</th>
        <th>WR1</th>
        <th>WR2</th>
        <th>RB/WR</th>
        <th>TE</th>
        <th>K</th>
        <th>DST</th>
        <th>Total</th>
        <th>Spread</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Ideal PPG</td>
        <% @ideal_points.each do |score| %>
          <td><%= score %></td>
        <% end %>
        <td>--</td>
      </tr>

      <tr>
        <td>Drafted PPG</td>
        <% @starters.each do |score| %>
          <td><%= score %></td>
        <% end %>
        <td>--</td>
      </tr>

      <tr>
        <td>+/-</td>
        <% @differences.each do |diff| %>
          <td><%= diff %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

<br>
<h3>My Team</h3>
<br>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1-picked" data-toggle="tab">All</a></li>
    <li><a href="#tab2-picked" data-toggle="tab">QB</a></li>
    <li><a href="#tab3-picked" data-toggle="tab">RB</a></li>
    <li><a href="#tab4-picked" data-toggle="tab">WR</a></li>
    <li><a href="#tab5-picked" data-toggle="tab">TE</a></li>
    <li><a href="#tab6-picked" data-toggle="tab">K</a></li>
    <li><a href="#tab7-picked" data-toggle="tab">DST</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1-picked">
      <%= render "players_table", :players => Player.order_by("rank", @selected), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab2-picked">
      <%= render "players_table", :players => Player.order_by("rank", @selected.qb), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab3-picked">
      <%= render "players_table", :players => Player.order_by("rank", @selected.rb), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab4-picked">
      <%= render "players_table", :players => Player.order_by("rank", @selected.wr), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab5-picked">
      <%= render "players_table", :players => Player.order_by("rank", @selected.te), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab6-picked">
      <%= render "players_table", :players => Player.order_by("rank", @selected.k), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab7-picked">
      <%= render "players_table", :players => Player.order_by("rank", @selected.dst), :my_team => true %>
    </div>
  </div>
</div>

<br>
<h3>Player pool</h3>
<br>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1-unpicked" data-toggle="tab">All</a></li>
    <li><a href="#tab2-unpicked" data-toggle="tab">QB</a></li>
    <li><a href="#tab3-unpicked" data-toggle="tab">RB</a></li>
    <li><a href="#tab4-unpicked" data-toggle="tab">WR</a></li>
    <li><a href="#tab5-unpicked" data-toggle="tab">TE</a></li>
    <li><a href="#tab6-unpicked" data-toggle="tab">K</a></li>
    <li><a href="#tab7-unpicked" data-toggle="tab">DST</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1-unpicked">
      <%= render "players_table", :players => Player.order_by(session[:sort], @unselected), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab2-unpicked">
      <%= render "players_table", :players => Player.order_by(session[:sort], @unselected.qb), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab3-unpicked">
      <%= render "players_table", :players => Player.order_by(session[:sort], @unselected.rb), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab4-unpicked">
      <%= render "players_table", :players => Player.order_by(session[:sort], @unselected.wr), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab5-unpicked">
      <%= render "players_table", :players => Player.order_by(session[:sort], @unselected.te), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab6-unpicked">
      <%= render "players_table", :players => Player.order_by(session[:sort], @unselected.k), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab7-unpicked">
      <%= render "players_table", :players => Player.order_by(session[:sort], @unselected.dst), :my_team => false %>
    </div>
  </div>
</div>
