<div class="page-header">
  <h1><%= @team.name %></h1>
  <small><%= link_to 'Edit Name', edit_team_path(@team) %></small> |
  <small><%= link_to 'Edit League Settings', edit_team_setting_path(@team.team_setting) %></small>
</div>

<h3>My Team</h3>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1-picked" data-toggle="tab">All</a></li>
    <li><a href="#tab2-picked" data-toggle="tab">QB</a></li>
    <li><a href="#tab3-picked" data-toggle="tab">RB</a></li>
    <li><a href="#tab4-picked" data-toggle="tab">WR</a></li>
    <li><a href="#tab5-picked" data-toggle="tab">TE</a></li>
    <li><a href="#tab6-picked" data-toggle="tab">K</a></li>
    <li><a href="#tab7-picked" data-toggle="tab">DST</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1-picked">
      <%= render "players_table", :players => Player.order_by("rank", @team.players.selected), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab2-picked">
      <%= render "players_table", :players => Player.order_by("rank", @team.players.selected.qb), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab3-picked">
      <%= render "players_table", :players => Player.order_by("rank", @team.players.selected.rb), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab4-picked">
      <%= render "players_table", :players => Player.order_by("rank", @team.players.selected.wr), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab5-picked">
      <%= render "players_table", :players => Player.order_by("rank", @team.players.selected.te), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab6-picked">
      <%= render "players_table", :players => Player.order_by("rank", @team.players.selected.k), :my_team => true %>
    </div>

    <div class="tab-pane" id="tab7-picked">
      <%= render "players_table", :players => Player.order_by("rank", @team.players.selected.dst), :my_team => true %>
    </div>
  </div>
</div>

<h3>Player pool</h3>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1-unpicked" data-toggle="tab">All</a></li>
    <li><a href="#tab2-unpicked" data-toggle="tab">QB</a></li>
    <li><a href="#tab3-unpicked" data-toggle="tab">RB</a></li>
    <li><a href="#tab4-unpicked" data-toggle="tab">WR</a></li>
    <li><a href="#tab5-unpicked" data-toggle="tab">TE</a></li>
    <li><a href="#tab6-unpicked" data-toggle="tab">K</a></li>
    <li><a href="#tab7-unpicked" data-toggle="tab">DST</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1-unpicked">
      <%= render "players_table", :players => Player.order_by(params[:sort], @team.players.unselected), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab2-unpicked">
      <%= render "players_table", :players => Player.order_by(params[:sort], @team.players.unselected.qb), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab3-unpicked">
      <%= render "players_table", :players => Player.order_by(params[:sort], @team.players.unselected.rb), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab4-unpicked">
      <%= render "players_table", :players => Player.order_by(params[:sort], @team.players.unselected.wr), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab5-unpicked">
      <%= render "players_table", :players => Player.order_by(params[:sort], @team.players.unselected.te), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab6-unpicked">
      <%= render "players_table", :players => Player.order_by(params[:sort], @team.players.unselected.k), :my_team => false %>
    </div>

    <div class="tab-pane" id="tab7-unpicked">
      <%= render "players_table", :players => Player.order_by(params[:sort], @team.players.unselected.dst), :my_team => false %>
    </div>
  </div>
</div>
