<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-signin form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, :class => "col-lg-2 control-label" %>
    <div class="col-lg-4">
      <%= f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => "col-lg-2 control-label" %>
    <div class="col-lg-4">
      <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-4 col-lg-offset-2">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> Remember Me<br><br>
      <% end -%>

      <%= link_to "Cancel", root_url, :class => "btn btn-default" %>
      <%= f.submit "Sign in", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>

Don't have an account?
<%= render "devise/shared/links" %>
