<div class="row">
  <%= form_for(@team_setting, :html => { :class => "edit_team_setting form-horizontal" }) do |f| %>
    <% if @team_setting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team_setting.errors.count, "error") %> prohibited this team_setting from being saved:</h2>

        <ul>
          <% @team_setting.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <legend>Scoring</legend>

    <div class="form-group">
      <%= f.label :completions, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :completions, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :attempts, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :attempts, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :passing_yards, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :passing_yards, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :passing_touchdowns, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :passing_touchdowns, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :interceptions, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :interceptions, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :rushes, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :rushes, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :rushing_yards, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :rushing_yards, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :rushing_touchdowns, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :rushing_touchdowns, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :receptions, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :receptions, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :receiving_yards, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :receiving_yards, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :receiving_touchdowns, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :receiving_touchdowns, :class => "form-control" %><br />
      </div>
    </div>

    <legend>Ideal PPG</legend>

    <div class="form-group">
      <%= f.label :qb_points, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :qb_points, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :rb1_points, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :rb1_points, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :rb2_points, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :rb2_points, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :wr1_points, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :wr1_points, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :wr2_points, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :wr2_points, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :flex_points, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :flex_points, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :te_points, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :te_points, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :k_points, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :k_points, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :dst_points, :class => "col-md-2 control-label" %>
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :dst_points, :class => "form-control" %><br />
      </div>
    </div>

    <div class="form-group">
      <%= link_to "Cancel", @team_setting.team, :class => "btn btn-default" %>
      <%= f.submit "Submit", :class => "btn btn-success" %>
    </div>
  <% end %>
</div>
