<!DOCTYPE html>
<html>
  <head>
    <title>DraftTool</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Draft Tool</a>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <% if user_signed_in? %>
              <li>
                <%= link_to "My Teams", teams_path %>
              </li>
              <li class="divider-vertical"></li>
              <li>
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
              <li class="divider-vertical"></li>
              <li>
                <%= link_to "Sign in", new_user_session_path %>
              </li>
            <% end %>
            <li class="divider-vertical"></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <% if notice %>
        <br>
        <p class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= notice %>
        </p>
      <% end %>
      <% if alert %>
        <br>
        <p class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= alert %>
        </p>
      <% end %>

      <br>

      <%= yield %>
    </div>

  </body>
</html>
